<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
        .container-fluid{
            padding-top: 1%;
        }
    </style>

</head>
<body>

<div class="container-fluid">

    <div class="card text-center">
        <div class="card-header">

        </div>
    <div class="card-body">
        <h5 class="card-title">Search Your Keyword</h5><br>
        <form class="center" action = "" method = "post">
	        {% csrf_token %}
            <label for="search">Search Term:</label>
	        {{form.search_term}}&nbsp;<input class="btn btn-info" type="submit" value=Submit>
        </form><br>

        <a class="btn btn-primary" href="/table">Display Data</a>&nbsp;
        <a class="btn btn-primary" href="/save">DownLoad File</a>
    </div>
</div>


    {% block content %}

    {% endblock %}
</div>

</body>
</html>

